.table > thead > tr > th {border: 2px solid #DCDCDC; }
.custom_error { border: 1px solid #FF0000 !important; background: #FFF1F1;}
.lead{font-size: 18px !important}

.skin-purple-light .main-header .navbar { background-color: #2c3e50 !important; }
.skin-purple-light .main-header li.user-header { background-color: #2c3e50 !important; }
.bg-purple { background-color: #2c3e50 !important; }

.callout {display: none; padding: 25px 30px 25px 15px; font-size: 18px; text-align: center;}

